.app-body {
    min-height: 100vh;
}

.app {
    text-align: center;
    background-color: #282c34;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.nav-bar,
.footer {
    background-color: #282c34;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.nav-bar {
    min-height: 10vh;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
}

.footer {
    min-height: 5vh;
    border-top: 1px solid #f2f2f2;
    margin-top: 10px;
    font-size: 15px;
}

.footer svg {
    color: #f2f2f2;
}

.non-decorated-link {
    text-decoration: none;
    color: #282c34;
}